.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 10px;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 23px;
  height: 2px;
  background: white;
}
