.toggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonLine {
  width: 23px;
  height: 2px;
  background: #2e3192;
}
