.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 56px;
  z-index: 200;
}

.toolbar__logo {
  margin-left: 1rem;
  width: 0;
}

.logo {
  width: 200px;
  height: auto;
}

.toolbar__navigation {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 1rem;
}

.toolbar_navigation-items a {
  color: #6d6a6a;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #2e3192;
}

.nav-option.active {
  color: #2e3192;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.6rem;
  font-size: 16px;
  font-weight: 600;
}

.spacer {
  flex: 1 0;
}

@media (min-width: 768px) {
  .toolbar_toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0 !important;
  }

  .toolbar_navigation-items {
    display: none;
  }

  .toggle-button__line_one {
    width: 23px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
  }

  .toggle-button__line_one {
    width: 23px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .toolbar_navigation-items li {
    padding: 0 0.6rem;
    font-size: 13px;
    font-weight: 600;
  }
}
